$font-size-xl: 32px;
$font-size-lg: 22px;
$font-size-md: 16px;
$font-size-sm: 14px;
$line-height-xl: 40px;
$line-height-lg: 26px;
$line-height-md: 20px;
$line-height-sm: 18px;

/* configs for 3.0 */

/* Mobile Web */
$font-size-headline-banner-mobile: 28px;
$font-size-headline1-mobile: 28px;
$font-size-headline2-mobile: 24px;
$font-size-headline3-mobile: 20px;
$font-size-headline4-mobile: 18px;
$font-size-headline5-mobile: 15px;
$font-size-title-mobile: 15px;
$font-size-body-mobile: 15px;
$font-size-caption-mobile: 13px;
$letter-spacing-mobile: -0.3px;
$line-height-caption-mobile: 16px;
$line-height-body-mobile: 20px;
$line-height-title-mobile: 20px;
$line-height-headline5-mobile: 20px;
$line-height-headline4-mobile: 24px;
$line-height-headline3-mobile: 24px;
$line-height-headline2-mobile: 28px;
$line-height-headline1-mobile: 32px;
$line-height-headline-banner-mobile: 28px;


/* Web */

$font-size-headline-banner-web: 28px;
$font-size-headline1-web: 32px;
$font-size-headline2-web: 28px;
$font-size-headline3-web: 24px;
$font-size-headline4-web: 20px;
$font-size-headline5-web: 16px;
$font-size-title-web: 16px;
$font-size-body-web: 16px;
$font-size-caption-web: 14px;
$letter-spacing-web: -0.3px;
$letter-spacing-second-web: -0.5px;
$line-height-caption-web: 20px;
$line-height-body-web: 24px;
$line-height-title-web: 24px;
$line-height-headline5-web: 20px;
$line-height-headline4-web: 24px;
$line-height-headline3-web: 28px;
$line-height-headline2-web: 32px;
$line-height-headline1-web: 40px;
$line-height-headline-banner-web: 32px;

/* XL */

$font-size-headline-banner-xl: 28px;
$font-size-headline1-xl: 52px;
$font-size-headline2-xl: 36px;
$font-size-headline3-xl: 31px;
$font-size-headline4-xl: 26px;
$font-size-title-xl: 21px;
$font-size-body-xl: 21px;
$font-size-caption-xl: 18px;
$letter-spacing-xl: -0.4px;
$letter-spacing-second-xl: -0.65px;
$line-height-caption-xl: 28px;
$line-height-body-xl: 32px;
$line-height-title-xl: 32px;
$line-height-headline4-xl: 32px;
$line-height-headline3-xl: 36px;
$line-height-headline2-xl: 42px;
$line-height-headline1-xl: 62px;
$line-height-headline-banner-xl: 52px;
